<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Mercury.ParticleEngine.SharpDX.Direct3D9.Sample\packages.config" />
  <repository path="..\Mercury.ParticleEngine.SharpDX.Direct3D9\packages.config" />
  <repository path="..\Mercury.ParticleEngine.Tests\packages.config" />
</repositories>